.footer {

    height: 10rem;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #f0a500;
}
